---
import Section from '@/components/Section.astro';
import { work } from '@cv';
---

<Section title="Experiencia">
    <ul>
        {work.map(({name, startDate, endDate, position, summary, highlights}) => {
            const starYear = new Date(startDate).getFullYear();
            const endYear = endDate !== null ? new Date(endDate).getFullYear() : 'Actual';
            const years = `${starYear} - ${endYear}`;

            return (<li>
                <article>
                    <header>
                        <div>
                            
                        <h3>{name}</h3>
                        <p>{position}</p>
                        </div>
                        
                        <time>{years}</time>
                    </header>

                    <footer>
                        <p>{summary}</p>
                        <ul>
                            {highlights.map((highlight) => (
                                <li>{highlight}</li>
                            ))}
                        </ul>
                    </footer>
                </article>
            </li>)
        })}
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    article h3{
        font-weight: 500;
        color: #111;
    }
    article h4{
        font-weight: 200;
        color: #222;
    }
    header {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        margin-bottom: 9px;
    }

    time {
        color: #666;
        font-size: 0.85rem;
    }
    footer ul {
        list-style: disc;
        color: #678;
		font-size: .9rem;
		line-height: 1.5;
		text-wrap: pretty;
        gap: 0;
        margin: 0 0 0 1.5rem;
    }


</style>
